@import '../../../../rootStyles.module.scss';

.poster{
    background-color: $background-color-button;
    padding: 1.2rem 0.5rem; 
    border-radius: 5.8rem;
    animation: show linear 0.3s;
    .header{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $while-color;
            font-size: 3.4rem;
            font-weight: bold;
            padding: 0.5rem 0;
        };
        p{
            color: $while-color;
            font-size: 1.6rem;
            span{
                color: $yellow-color;
            }

        }
    };

    .search{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 0 3.2rem;
        border-radius: 1.2rem;
        overflow: hidden;
    }
}