@import '../../../../rootStyles.module.scss';

.posterTop{
    padding-top: 12.4rem;
    font-size: .8rem;
    background-color: $background-color-sub-2;
    .posterItem{
        padding: 2rem;
        animation: show linear 0.3s;
        .more{
            color: $background-color-button;
            background-color: #f5c7c7;
            font-size: 1.8rem;
            display: inline-block;
            padding: .5rem 2rem;
            border-radius: 1.8rem;
            img{
                display: inline-block;
                width: 20px;
                margin: 0!important;
            };
        }

        .title{
            padding: 3rem 2rem 1.8rem 0;
            color: $black-color;
            font-size: 5.8rem;
            font-weight: bold;
            span{
                color: $background-color-button;
            }
        }

        .message{
            color: $text-color-sub;
            font-size: 1.8rem;
        }

        .start{
            @include stylesButton($while-color, $background-color-button,  2.4rem)
        }

        .call{
            @include stylesButton($text-color-sub, $background-color,  2.4rem);
            margin-top: 2.5rem;
            margin-left: 2.5rem;
            border: 1px solid $background-color-title;
            i{
                color: yellow;
                padding-right: 0.3rem;
            }
        }
        
        .call:hover{
            border: 1px solid $background-color-sub;
            background-color:$background-color-hover ;
            transition: all 0.2s ease;
        }

        .start:hover{
            background-color: $red-color-light;
        }

        img{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            animation: show2 linear 0.2s;
        }
    }
}