@import '../../../rootStyles.module.scss';

.detail{
    padding-top: 14.4rem;
    padding-bottom: 4rem;
    font-size: .8rem;
    min-height: 20rem;
    position: relative;
    .thumb{
        display: flex;
        flex-flow: column;
        align-items: center;
        img{
            width: 90%;
            border-radius: 50%;
        };
        a{
            margin: 1rem 0;
            padding: 1rem 2.5rem;
            color: $while-color;
            background-color: $background-color-button;
            font-size: 1.8rem;
            border-radius: 3rem;
            display: flex;
            align-items: center;
            i{
                font-size: 2.2rem;
                padding: 0 0 0 1rem;
            }
        };
    };

    .btn{
        position: absolute;
        right: 30px;
        top: 0;
        background-color: $background-color-button!important;
        border: none !important;
        font-size: 1.8rem !important;
        height: 48px !important;
        border-radius: 0.8rem !important;
        margin: 0 2.4rem !important;
        i{
            margin-left: 0.5rem !important;
        }
    }

    .info{
        h2{
            color: $black-color;
            font-size: 3.4rem;
            font-weight: bold;
            padding: 0.5rem 0;
            margin-bottom: 2rem;
            margin-top: 2rem;
            padding-top: 5rem;
        };
        p{
            color: $text-color-sub;
            font-size: 1.8rem;
            margin: 0.8rem 0;
            span{
                color: $black-color;
            }
        }
    };

    .dis{
        p{
            color: $text-color-sub;
            font-size: 1.8rem;
            text-transform: initial;
            text-align:justify;
            padding: 4rem 0;
        }
    }
}