@import '../../../../rootStyles.module.scss';

.ramdom{
    // background-color: $background-color-title!important;
    padding-bottom: 8rem;
    padding-top: 1rem;
    .header{
        padding: 1.5rem 0 1rem 0.2rem;
        font-size: 2.8rem;
        font-weight: 700;
        i{
            margin: 0 5px 0 0;
            color: $background-color-icon;
        }
    };
    
    .Link{
        display: flex;
        flex-flow: column;
        align-items: center;
        .img{
            width: 68%;
            border-radius: 50%;
            padding: 2rem;
        };

        .imgTitle{
            font-size: 2.8rem;
            font-weight: bold;
            text-transform: uppercase;
        };
        .btn{
            color: $while-color;
            background-color: $background-color-button;
            padding: 1rem 3rem;
            border-radius: 3rem;
            font-size: 1.8rem;
            margin-top: 1rem;
        }

        .btn:hover{
            opacity: 0.9;
        }

    };
    .description{
        h3{
            font-size: 1.8rem;
            font-weight: bold;
            color: $black-color;
        };
        p{
            color: $text-color-sub;
            font-size: 1.6rem;
            text-transform: initial;
            span{
                display: inline-block;
                margin: 0;
                color: $black-color;
            }
        }
    }
}