@import '../../../rootStyles.module.scss';

.login{
    padding-top: 18.4rem;
    padding-bottom: 10rem;
    font-size: .8rem;
    min-height: 20rem;
    position: relative;
    text-transform:lowercase!important;
    input{
        text-transform:lowercase!important;
    }
}